.stokr-manager-company {
  display: flex;
  align-items: center;
  height: 120px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  &__column {
    &:not(:first-child) {
      padding-left: 15px;
    }

    &:not(:last-child) {
      padding-right: 15px;
    }
  }

  .delete-column {
    margin-left: -55px;
    justify-content: center;
    transition: all 0.25s linear;
    opacity: 0;

    &__btn {
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .name-column {
    flex-grow: 1;
    font-size: 33px;
    font-weight: 300;
    color: #59737c;
    transition: all 0.25s linear;

    &__symbol {
      margin-right: 10px;
    }
  }

  .price-column {
    font-size: 30px;
    color: #59737c;
  }

  .diff-column {
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 34px;
      font-weight: 300;
      color: #fff;
      border-radius: 10px;
      width: 150px;
      height: 56px;
      border: none;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;

      &:hover {
        cursor: pointer;
      }

      &--negative {
        background-color: #ff4f46;
      }

      &--positive {
        background-color: #63da39;
      }
    }
  }

  &--edited {
    .delete-column {
      opacity: 1;
      margin-left: 0;
    }
  }
}
