.stokr-manager {
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;

  .stokr-manager-main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .stokr-manager-header-wrapper {
      position: relative;
    }

    .stokr-manager-filter-wrapper {
      margin-top: -166px;
      transition: margin-top 0.3s ease-in-out;

      &--visible {
        margin-top: 0;
      }
    }

    .stokr-manager-body {
      overflow: auto;
      display: flex;
      flex-grow: 1;
    }
  }
}
