.stokr-manager {
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;

  .stokr-manager-inner {
    position: relative;
    top: 0;
    height: 200%;
    transition: top 0.3s ease-in-out;

    .stokr-manager-main {
      display: flex;
      flex-direction: column;
      height: 50%;

      .stokr-manager-header-wrapper {
        position: relative;
      }

      .stokr-manager-filter-wrapper {
        margin-top: -166px;
        transition: margin-top 0.3s ease-in-out;

        &--slided {
          margin-top: 0;
        }
      }

      .stokr-manager-body {
        overflow: auto;
        display: flex;
        flex-grow: 1;
        width: 200%;
        transition: margin-left 0.3s ease-in-out;

        &--charted {
          overflow: hidden;
          margin-left: -100%;
        }

        &__companies {
          width: 50%;
        }

        &__chart {
          display: flex;
          width: 50%;
        }
      }
    }
  }

  &--searched {
    .stokr-manager-inner {
      top: -100%;
    }
  }
}
